[
  {rabbit, [
    {tcp_listeners, [
{% if rabbitmq_conf_tcp_listeners_address != '' %}
      {"{{ rabbitmq_conf_tcp_listeners_address }}", {{ rabbitmq_conf_tcp_listeners_port }}}
{% else %}
      {{ rabbitmq_conf_tcp_listeners_port }}
{% endif %}
    ]}
{% if rabbitmq_ssl %}
    , {ssl_listeners, [{"{{ rabbitmq_conf_ssl_listeners_address }}", {{ rabbitmq_conf_ssl_listeners_port }}}]},
    {ssl_options, [
      {cacertfile, "{{rabbitmq_conf_ssl_options_cacertfile}}"},
      {certfile, "{{rabbitmq_conf_ssl_options_certfile}}"},
      {keyfile, "{{rabbitmq_conf_ssl_options_keyfile}}"},
      {verify, verify_peer},
      {fail_if_no_peer_cert,{{rabbitmq_conf_ssl_options_fail_if_no_peer_cert}}}
      ]}
{% endif %}
  ]}
{% for conf in rabbitmq_plugins_conf %}
{% for plugin, conf_line in conf.iteritems() %}
  , { {{ plugin }}, {{ conf_line }} }
{% endfor %}
{% endfor %}
].
